<ion-content>
  <ion-row>
    <ion-col
      sizeLg="4"
      sizeXl="4"
      sizeMd="4"
      offsetMd="4"
      size="12"
      offsetXl="4"
      offsetLg="4"
    >
      <h1>Login User</h1>
      <form [formGroup]="form">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" (click)="login()">Login</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
