<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-row>
      <ion-list>
        <ion-item>
          <ion-select
            aria-label="category"
            placeholder="Select category"
            [(ngModel)]="selectedCategory"
            (ionChange)="filterItems()"
          >
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="category1">Category 1</ion-select-option>
            <ion-select-option value="category2">Category 2</ion-select-option>
            <ion-select-option value="category3">Category 3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-col sizeXl="4" sizeLg="4" size="12" offsetLg="4" offsetXl="4">
        <div *ngFor="let item of items">
          <ion-card
            class="card"
            *ngIf="item.category === selectedCategory || selectedCategory === 'all'"
          >
            <h3>{{item.category}}</h3>
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <img class="item-picture" [src]="display(item.image)" alt="item" />
            <h5>${{item.price}}</h5>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
